.container{
    height: 100vh;
    width: 100vw;
    /* position: relative; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100% ;
}
.container1{
  background-image: url('../images/loan2.jpg');
}
.container2{
  background-image: url('../images/loan1.jpg');


}